@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
}

.NavAndMainWrapper {
  @apply
  my-12
  mx-auto
  w-10/12;
}

@media (min-width: 768px) {
  .NavAndMainWrapper {
    @apply
    w-8/12
    grid
    grid-cols-3
    gap-12;
  }

  .MainContainer {
    @apply
    col-span-2;
  }
}